$breakpoint-mobile: 576px;

$bg-secondary: #CFE4EA;
$bg-primary: #E8E8E8;
$bg-accent: #1A2C3E;
$bg-blue: #61DAFB;
$bg-button: #5A6C7E;
$bg-orange: #E4CABE;
$bg-orange-dark: #B29081;
$bg-green: #CEE4BE;
$bg-green-dark: #98A68D;
$bg-purple: #BEC8E4;
$bg-purple-dark: #7D859A;


$font-primary: #1A2C3E;
$font-secondary: #E8E8E8;
$font-accent: #5A6C7E;