@import "@styles/variables.scss";

.button {
  padding: 15px 20px;
  border-radius: 25px;
  box-sizing: border-box;
}

.primary {
  color: $font-accent;

  &:hover {
    color: $font-primary;
  }
}

.border {
  color: $font-accent;
  border: 3px solid $bg-button;

  &:hover {
    color: $font-primary;
    border-color: $font-primary;
  }
}

.secondary {
  color: $font-secondary;
  background-color: $bg-button;

  &:hover {
    background-color: $font-primary;
  }
}