@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.mainPage {
  padding: 0 85px;

  @include mobile {
    padding: 0 30px;
  }

  &__hero {
    background-color: $bg-secondary;
    border-radius: 43px;
    margin: 142px auto 0 auto;
    padding: 140px 55px 0 55px;
    height: 638px;

    position: relative;
    min-height: 400px;

    color: $font-primary;

    img {
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      object-fit: cover;

    }

    &Info {
      position: relative;
      z-index: 1;

      &Title {
        font-size: 48px;
      }

      &Description {
        font-size: 20px;
        max-width: 580px;
        margin-top: 32px;
        margin-bottom: 102px;
      }
    }
  }

  section {
    color: $font-primary;
    padding: 127px 0 0 0;

    @include mobile {
      padding: 70px 0 0 0;
    }

    .header {
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-wrap: wrap;
        gap: 30px;
      }
    }

    .title {
      font-size: 48px;
    }

    .content {
      display: flex;
      gap: 66px;
      flex-wrap: wrap;
      margin-top: 48px;
      justify-content: center;
    }

    .list {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 23px;

      img {
        display: inline;
        margin-right: 16px;
      }

      p {
        display: flex;
        align-items: center;
      }
    }

    .oppCard {
      border-radius: 25px;
      padding: 0 41px;
      max-width: 379px;
      width: 100%;
      min-height: 378px;

      @include mobile {
        min-height: 290px;
      }

      &:hover {
        box-shadow: 6px 6px 5px 0 rgb(0, 0, 0, 0.25);
      }

      &__header {
        border-radius: 0 0 12px 12px;
        margin-bottom: 60px;
        padding: 30px 20px 15px 20px;
        color: $font-secondary;
        font-size: 20px;
        text-align: center;

        &Orange {
          background-color: $bg-orange-dark;
        }

        &Green {
          background-color: $bg-green-dark;
        }

        &Purple {
          background-color: $bg-purple-dark;
        }
      }
    }

    .orange {
      background-color: $bg-orange;
    }

    .green {
      background-color: $bg-green;
    }

    .purple {
      background-color: $bg-purple;
    }

    .workCard {
      max-width: 379px;
      width: 100%;

      &__header {
        background-color: $bg-blue;
        border-radius: 12px;
        padding: 10px 0;
        text-align: center;
      }

      &__content {
        padding: 26px 29px;
        background-color: $bg-secondary;
        margin-top: 38px;
        border-radius: 25px;
        flex: 1;
        display: flex;
        flex-direction: column;

        &Title {
          font-weight: 700;
        }

        &Description {
          margin-top: 11px;
        }

        &Checkbox {
          align-self: end;
        }
      }
    }
  }
}

footer {
  margin-top: 266px;
  background-color: $bg-accent;
  border-radius: 43px 43px 0 0;
  height: 492px;
  color: $font-secondary;
  padding: 75px 85px;

  @include mobile {
    margin-top: 100px;
    padding: 50px 40px;
  }

  h2 {
    font-size: 48px;
    margin-bottom: 45px;
  }

  img {
    display: inline;
    margin-right: 16px;
  }

  p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}